.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1315px;
  position: relative;
  min-width: 0;
  padding: 96px 84px 57px 77px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 32px;
  text-align: center;
  left: auto;
  top: auto;
  background: #dae2bb;
  min-width: 0;
}
.list1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.list2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.list3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
